In [2]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [ ]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [ ]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

### Challenge 2 - Percent of Values Above a Value

### Challenge 3 - Mean of Differences

### Challenge 4 - Count of Values in Range

### Challenge 5 - Basic Stats Calculations

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```