In [ ]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [ ]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [ ]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

### Challenge 1 - Magnitude of Range

### Challenge 2 - Percent of Values Above a Value

In [13]:
df.

                Age         Nodeg  Earnings_1974  Earnings_1975  Earnings_1978
count  15992.000000  15992.000000   15992.000000   15992.000000   15992.000000
mean      33.225238      0.295835   14016.800304   13650.803376   14846.659673
std       11.045216      0.456432    9569.795893    9270.403225    9647.391524
min       16.000000      0.000000       0.000000       0.000000       0.000000
25%       24.000000      0.000000    4403.452250    4398.823000    5669.298000
50%       31.000000      0.000000   15123.580000   14557.110000   16421.975000
75%       42.000000      1.000000   23584.180000   22923.737500   25564.670000
max       55.000000      1.000000   25862.320000   25243.550000   25564.670000

In [27]:
high_earnings74 = (df['Earnings_1974'] > 20000).sum()
count = df['Earnings_1974'].count()
percentage = round(((high_earnings74/count) * 100), 2)
print('Percentage of people in 1974 earning above $20,000: ', percentage, '%')

Percentage of people in 1974 earning above $20,000:  35.77 %

In [28]:
high_earnings78 = (df['Earnings_1978'] > 25000).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above $25,000: ', percentage, '%')

Percentage of people in 1978 earning above $25,000:  27.28 %

In [ ]:
high_earnings78 = (df['Earnings_1978'] > 25000).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above $25,000: ', percentage, '%')

What is median earnings in 1975? $14557 
How many in 1978 earned above 1975? 
Calculate percentage for this.

In [30]:
high_earnings78 = (df['Earnings_1978'] > 14557).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above the median salary in 1975: ', percentage, '%')

Percentage of people in 1978 earning above the median salary in 1975:  55.23 %

### Challenge 3 - Mean of Differences

### Challenge 4 - Count of Values in Range

### Challenge 5 - Basic Stats Calculations

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```