In [9]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [10]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [11]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

### Challenge 2 - Percent of Values Above a Value

In [19]:
high_earnings74 = (df['Earnings_1974'] > 20000).sum()
count = df['Earnings_1974'].count()
percentage = round(((high_earnings74/count) * 100), 2)
print('Percentage of people in 1974 earning above $20,000: ', percentage, '%')

Percentage of people in 1974 earning above $20,000:  35.77 %

In [13]:
high_earnings78 = (df['Earnings_1978'] > 25000).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above $25,000: ', percentage, '%')

Percentage of people in 1978 earning above $25,000:  27.28 %

In [21]:
high_earnings78 = (df['Earnings_1978'] > 25000).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above $25,000: ', percentage, '%')

Percentage of people in 1978 earning above $25,000:  27.28 %

What is median earnings in 1975? $14557 
How many in 1978 earned above 1975? 
Calculate percentage for this.

In [15]:
high_earnings78 = (df['Earnings_1978'] > 14557).sum()
count = df['Earnings_1978'].count()
percentage = round(((high_earnings78/count) * 100), 2)
print('Percentage of people in 1978 earning above the median salary in 1975: ', percentage, '%')

Percentage of people in 1978 earning above the median salary in 1975:  55.23 %

### Challenge 3 - Mean of Differences

In [75]:
#calculate difference between _1974 and _1978
df['diff_1'] = abs(df['Earnings_1974'] - df['Earnings_1978'])
print(df['diff_1'])

mean = df['diff_1'].mean()
print('mean of differences between 1974 and 1978: ', round(mean, 1))

0         4048.000
1        10320.109
2         2525.650
3          570.300
4         8191.574
           ...
15987     1217.914
15988     5449.133
15989     2487.914
15990     3242.420
15991     5648.936
Name: diff_1, Length: 15992, dtype: float64
mean of differences between 1974 and 1978:  5364.0

### Challenge 4 - Count of Values in Range

In [31]:
value1 = (10000 <= df['Earnings_1974']).sum() & (df['Earnings_1974'] <= 15000).sum()
print(value1)
print('Values that fall between 10,000 and 15,000: ', value1)

1793
Values that fall between 10,000 and 15,000:  1793

In [35]:
age_range = (18 <= df['Age']).sum() & (df['Age'] <= 49).sum()
print('People that fall between 18 and 49 years old: ', age_range)

SyntaxError: unmatched ')' (2122599144.py, line 1)

Find number of people in their 20s: 5088
Find the mean and median earnings in 1978: 14846 and 16421
Then find number of people in their 20s that earned between those values in 1978.

In [45]:
#number of people in their 20s
age = (df['Age'] >= 20).sum() & (df['Age'] <= 29).sum()
print(age)

#mean and median earning in 1978
mean = df['Earnings_1978'].mean()
median = df['Earnings_1978'].median()
print('Mean earnings: ', int(mean))
print('Median earnings: ', int(median))

#find number of people in their 20s that earned between the mean and median earnings in 1978
twenties = ((df['Age'] >= 20).sum() & (df['Age'] <= 29).sum()) & (df['Earnings_1978'] > 14846).sum() & (df['Earnings_1978']< 16421).sum()
print('Number of People in their 20s who earned the median and mean earnings in 1978: ', twenties)

5088
Mean earnings:  14846
Median earnings:  16421
Number of People in their 20s who earned the median and mean earnings in 1978:  512

### Challenge 5 - Basic Stats Calculations

In [66]:
print(df['Earnings_1974'].describe())
print(df['Earnings_1974'].var())

91580993.44097105

In [64]:
print(df['Earnings_1975'].describe())
print(df['Earnings_1975'].var())

count    15992.000000
mean     13650.803376
std       9270.403225
min          0.000000
25%       4398.823000
50%      14557.110000
75%      22923.737500
max      25243.550000
Name: Earnings_1975, dtype: float64
85940375.95151532

In [67]:
print(df['Earnings_1978'].describe())
print(df['Earnings_1978'].var())

count    15992.000000
mean     14846.659673
std       9647.391524
min          0.000000
25%       5669.298000
50%      16421.975000
75%      25564.670000
max      25564.670000
Name: Earnings_1978, dtype: float64
93072163.22421418

In [78]:
mean78 = df['Earnings_1978'].mean()
median78 = df['Earnings_1978'].median()
print('Mean earnings: ', int(mean78))
print('Median earnings: ', int(median78))
diff_2 = abs(mean78 - median78)
print(diff_2)

mean74 = df['Earnings_1974'].mean()
median74 = df['Earnings_1974'].median()
print('Mean earnings: ', int(mean74))
print('Median earnings: ', int(median74))
diff_3 = abs(mean74 - median74)
print(diff_3)

mean75 = df['Earnings_1975'].mean()
median75 = df['Earnings_1975'].median()
print('Mean earnings: ', int(mean75))
print('Median earnings: ', int(median75))
diff_4 = abs(mean75 - median75)
print(diff_4)

Mean earnings:  14846
Median earnings:  16421
1575.3153270939874
Mean earnings:  14016
Median earnings:  15123
1106.779695808831
Mean earnings:  13650
Median earnings:  14557
906.3066239268392

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```